<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher 101</title>
</head>
<body>
    <h1>Regex Matcher 101</h1>
    <form action="/results" method="POST">
        
        <label for="test_string">Text to Match:</label><br>
        <textarea type="text" name="test_string" rows="4" cols="50" placeholder="Enter the string to match"></textarea><br>
        <label for="regex_pattern">Regex Pattern:</label><br>
        <input type="text" name="regex_pattern" placeholder="Enter the pattern here"><br>
        <input type="submit" value="Match">
    </form>
    

    <h1>Email Validation</h1>
    <form action="/validate_email" method="POST">
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email" placeholder="Enter your email"><br>
        <input type="submit" value="Validate Email">
    </form>
</body>
</html>
